# Brendan Test / Practice Notebook

In [1]:
#import libraries as required 
import numpy as np
import sklearn as sk
# Data frames.
import pandas as pd

# scikit learn

## Learning and predicting from tutorials

In [2]:
from sklearn import datasets as datasets #have to import in the indivdual libraries for datasets

In [20]:
iris = datasets.load_iris()

In [4]:
#print(iris.data)

In [5]:
digits = datasets.load_digits()

## Numpy

https://realpython.com/numpy-tutorial/

In [6]:
a = np.arange(20).reshape(5,4)

In [7]:
#reshape an array

In [8]:
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

## Pandas

In [9]:
# https://www.kaggle.com/learn/pandas - panas tutroial from lectures

In [10]:
# from lecutres https://pandas.pydata.org/docs/user_guide/10min.html

In [11]:
import pandas as pd

Creating a Series by passing a list of values, letting pandas create a default integer index

In [12]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [13]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [23]:
df = pd.read_csv('https://github.com/ianmcloughlin/datasets/raw/main/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [28]:
#https://stackoverflow.com/questions/38105539/how-to-convert-a-scikit-learn-dataset-to-a-pandas-dataset

#df2 = pd.DataFrame(
    # load all 4 dimensions of the dataframe EXCLUDING species data
    #load_iris()['data'],
    # set the column names for the 4 dimensions of data
    #columns=load_iris()['feature_names']
#)

# we create a new column called 'species' with 150 rows of numerical data 0-2 signifying a species type. 
# Our column `species` should have data such `[0, 0, 1, 2, 1, 0]` etc.
#df['species'] = load_iris()['target']
# we map the numerical data to string data for species type
#df['species'] = df['species'].map({
    #0 : 'setosa',
    #1 : 'versicolor',
    #2 : 'virginica'   
#})

df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## T - tests

In [29]:
# Alternative statistics package.
import statsmodels.stats.weightstats as stat

# Mains statistics package.
import scipy.stats as s

## MOre testing

In [36]:


# Plotting.
import seaborn as sns

# Stats.
import scipy.stats as ss

# Numerical arrays.
import numpy as np

# Collections.
import collections as co

# Specials.
import scipy.special as spec

In [37]:
df2 = pd.read_csv('https://github.com/brendantipp/gmit_mls_2021/blob/main/datasets/grades/exam_grades.csv')
df2

ParserError: Error tokenizing data. C error: Expected 1 fields in line 123, saw 2