# Brendan Test / Practice Notebook

In [10]:
#import libraries as required 
import numpy as np
import sklearn as sk

# scikit learn

## Learning and predicting from tutorials

In [4]:
from sklearn import datasets as datasets #have to import in the indivdual libraries for datasets

In [11]:
iris = datasets.load_iris()

In [7]:
#print(iris.data)

In [12]:
digits = datasets.load_digits()

## Numpy

https://realpython.com/numpy-tutorial/

In [15]:
a = np.arange(20).reshape(5,4)

In [ ]:
#reshape an array

In [16]:
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

## Pandas

In [19]:
# https://www.kaggle.com/learn/pandas - panas tutroial from lectures

In [20]:
# from lecutres https://pandas.pydata.org/docs/user_guide/10min.html

In [21]:
import pandas as pd

Creating a Series by passing a list of values, letting pandas create a default integer index

In [22]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [23]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [27]:
df = iris.data

In [32]:
df.head

<bound method NDFrame.head of      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 5 columns]>

In [31]:
#https://stackoverflow.com/questions/38105539/how-to-convert-a-scikit-learn-dataset-to-a-pandas-dataset

df = pd.DataFrame(
    # load all 4 dimensions of the dataframe EXCLUDING species data
    load_iris()['data'],
    # set the column names for the 4 dimensions of data
    columns=load_iris()['feature_names']
)

# we create a new column called 'species' with 150 rows of numerical data 0-2 signifying a species type. 
# Our column `species` should have data such `[0, 0, 1, 2, 1, 0]` etc.
df['species'] = load_iris()['target']
# we map the numerical data to string data for species type
df['species'] = df['species'].map({
    0 : 'setosa',
    1 : 'versicolor',
    2 : 'virginica'   
})

df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

## T - tests

In [2]:
# Alternative statistics package.
import statsmodels.stats.weightstats as stat

# Mains statistics package.
import scipy.stats as s

## MOre testing

In [3]:
# Data frames.
import pandas as pd

# Plotting.
import seaborn as sns

# Stats.
import scipy.stats as ss

# Numerical arrays.
import numpy as np

# Collections.
import collections as co

# Specials.
import scipy.special as spec

In [ ]:
df = pd.read_csv('https://github.com/ianmcloughlin/datasets/raw/main/iris.csv')
df