## Overview of Sckit-Learn library

##scikit-learn notebook

Scikit-learn is an open source machine learning library that supports supervised and unsupervised learning. It also provides various tools for model fitting, data preprocessing, model selection and evaluation, and many other utilities. [https://scikit-learn.org/stable/getting_started.html]

Simple and efficient tools for predictive data analysis
Accessible to everybody, and reusable in various contexts
Built on NumPy, SciPy, and matplotlib
Open source, commercially usable - BSD license

Rather than focusing on loading, manipulating and summarising data, Scikit-learn library is focused on modeling the data.

Learning Problems tend to fall into two categories  - Supervised and Unsupervised 

From data camp []
Scikit-learn is an open source Python library that implements a range of machine learning, preprocessing, cross-validation and visualization algorithms using a unified interface.

To be completed after further research and lectures

## Import required libraries

In [1]:
#import libraries as required 
import numpy as np
import sklearn as sk

In [2]:
from sklearn import datasets as datasets #have to import in the indivdual libraries for datasets

#sckit - learn alogorithms - some demos!

The 3 i have selected from my research that i find the most interesting - to be confirmed


Classification
+ Random Forrest
+ Gradient boosting
+ Decision tree
+ SVM

covered in lectures
+ KNN
+ Logistic regression


Regression

## Classification Alogorithims versus Regression Algorithms

Classification is when the feature to be predicted contains categories of values. Each of these categories is considered as a class into which the predicted value falls.

Regression is when the feature to be predicted contains continuous values. Regression refers to the process of predicting a dependent variable by analyzing the relationship between other independent variables.

Processing and testing my dataset

- Note - consider using Iris dataset as could be ideal for classification analysis

In [14]:
#import the dataset pre built into sckit learn if required 
#from sklearn.datasets import load_iris
#import sklearn.model_selection as mod
#import pandas as pd
#data = load_iris()

OR IMPORT THE ONE I HAVE DOWNLOADED

In [12]:
# Import the iris.csv dataset and name as df
df = pd.read_csv("datasets/iris/iris.csv") #using pandas read_csv function
#after research define species as type category thanks to https://github.com/simonava5/fishers-iris-data
df['species'] = df['species'].astype('category') #category to be used for summary file

In [13]:
#review the dataset
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [15]:
#statistics summary 
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [16]:
#### Visualise dataset - research into more interesting plots etc than just used in lecutures

## Training and Testing our data for further analysis

In [32]:
#Split our data in traing and testing models
train, test = mod.train_test_split(df)

In [33]:
#display training data
train.head()

     sepal_length  sepal_width  petal_length  petal_width     species
61            5.9          3.0           4.2          1.5  versicolor
4             5.0          3.6           1.4          0.2      setosa
133           6.3          2.8           5.1          1.5   virginica
25            5.0          3.0           1.6          0.2      setosa
0             5.1          3.5           1.4          0.2      setosa

In [38]:
#display test data
test.head()

     sepal_length  sepal_width  petal_length  petal_width     species
117           7.7          3.8           6.7          2.2   virginica
114           5.8          2.8           5.1          2.4   virginica
120           6.9          3.2           5.7          2.3   virginica
82            5.8          2.7           3.9          1.2  versicolor
58            6.6          2.9           4.6          1.3  versicolor

In [39]:
#check the size of our testing model
test.index.size

38

In [37]:
#selecting our inputs and outputs 
inputs, outputs = train[['sepal_length','sepal_width','petal_length','petal_width']], train['species']

## Decison Tree

https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html

https://scikit-learn.org/stable/modules/tree.html#tree

### Classification analysis and predictions on Iris Data set using Decision tree Algorithm

In [61]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier

In [62]:
dtc = DecisionTreeClassifier (random_state=0)

In [63]:
dtc.fit(inputs,outputs)

DecisionTreeClassifier(random_state=0)

In [64]:
predictions = dtc.predict(test[['sepal_length','sepal_width','petal_length','petal_width']])
predictions

array(['virginica', 'virginica', 'virginica', 'versicolor', 'versicolor',
       'setosa', 'versicolor', 'setosa', 'versicolor', 'versicolor',
       'virginica', 'virginica', 'virginica', 'versicolor', 'setosa',
       'virginica', 'setosa', 'virginica', 'versicolor', 'virginica',
       'setosa', 'virginica', 'setosa', 'virginica', 'virginica',
       'setosa', 'virginica', 'setosa', 'virginica', 'setosa',
       'versicolor', 'versicolor', 'setosa', 'virginica', 'setosa',
       'virginica', 'versicolor', 'setosa'], dtype=object)

In [65]:
(predictions == test['species']).value_counts()

True     36
False     2
Name: species, dtype: int64

In [77]:
dtc.score(test[['sepal_length','sepal_width','petal_length','petal_width']],test['species'])

0.9473684210526315

In [78]:
### thanks to [] dont forget to add link here and the reference (NOTE TO SELF)
from sklearn.metrics import classification_report
print(classification_report(test['species'],predictions))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        12
  versicolor       1.00      0.83      0.91        12
   virginica       0.88      1.00      0.93        14

    accuracy                           0.95        38
   macro avg       0.96      0.94      0.95        38
weighted avg       0.95      0.95      0.95        38

## Classifcation analysis and predictions on Iris Data set using Random Forest Alogorithm

### SVM

### Logistic Regression

##### Type: Classification

##### About

Logistic regression, despite its name, is a linear model for classification rather than regression. Logistic regression is also known in the literature as logit regression, maximum-entropy classification (MaxEnt) or the log-linear classifier. In this model, the probabilities describing the possible outcomes of a single trial are modeled using a logistic function. [Reference from skitlearn online user guide]

Add more detail and research

In [9]:
df = pd.DataFrame(data['data'], columns=data['feature_names'])
df['species'] = data['target']
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [ ]:
#lre = lm.LogisticRegression(random_state=0)

### KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

Decision Trees

## References and research etc

https://realpython.com/linear-regression-in-python/

https://scikit-learn.org/stable/user_guide.html


https://www.aboutdatablog.com/post/a-quick-overview-of-5-scikit-learn-classification-algorithms

https://www.tutorialspoint.com/scikit_learn/scikit_learn_quick_guide.htm

https://www.datacamp.com/community/tutorials/random-forests-classifier-python

## The End