## Overview of Sckit-Learn library

![Scipy Logo](https://github.com/brendantipp/gmit_mls_2021/blob/main/images/scipy_logo2.PNG?raw=true)

##scikit-learn notebook

Scikit-learn is an open source machine learning library that supports supervised and unsupervised learning. It also provides various tools for model fitting, data preprocessing, model selection and evaluation, and many other utilities. [https://scikit-learn.org/stable/getting_started.html]

Simple and efficient tools for predictive data analysis
Accessible to everybody, and reusable in various contexts
Built on NumPy, SciPy, and matplotlib
Open source, commercially usable - BSD license

Rather than focusing on loading, manipulating and summarising data, Scikit-learn library is focused on modeling the data.

Learning Problems tend to fall into two categories  - Supervised and Unsupervised 

From data camp []
Scikit-learn is an open source Python library that implements a range of machine learning, preprocessing, cross-validation and visualization algorithms using a unified interface.

To be completed after further research and lectures

## Import required libraries

In [1]:
#import libraries as required 
import numpy as np

#import skitlearn library for ML 
import sklearn as sk
import sklearn.model_selection as mod

#import pandas for data frames
import pandas as pd

#import matplotlib and seaborn for plotting 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn import datasets as datasets #have to import in the indivdual libraries for datasets

#sckit - learn alogorithms - some demos!

The 3 i have selected from my research that i find the most interesting - to be confirmed


Classification
+ Random Forrest
+ Gradient boosting
+ Decision tree
+ SVM

covered in lectures
+ KNN
+ Logistic regression


Regression

## Classification Alogorithims versus Regression Algorithms

Classification is when the feature to be predicted contains categories of values. Each of these categories is considered as a class into which the predicted value falls.

Regression is when the feature to be predicted contains continuous values. Regression refers to the process of predicting a dependent variable by analyzing the relationship between other independent variables.

Processing and testing my dataset

- Note - consider using Iris dataset as could be ideal for classification analysis

In [3]:
#import the dataset pre built into sckit learn if required 
#from sklearn.datasets import load_iris
#import sklearn.model_selection as mod
#import pandas as pd
#data = load_iris()

OR IMPORT THE ONE I HAVE DOWNLOADED

In [4]:
# Import the iris.csv dataset and name as df
df = pd.read_csv("datasets/iris/iris.csv") #using pandas read_csv function
#after research define species as type category thanks to https://github.com/simonava5/fishers-iris-data
df['species'] = df['species'].astype('category') #category to be used for summary file

In [5]:
#review the dataset
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
#statistics summary 
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
#### Visualise dataset - research into more interesting plots etc than just used in lecutures

## Training and Testing our data for further analysis

In [8]:
#Split our data in traing and testing models
train, test = mod.train_test_split(df)

In [9]:
#display training data
train.head()

     sepal_length  sepal_width  petal_length  petal_width     species
131           7.9          3.8           6.4          2.0   virginica
120           6.9          3.2           5.7          2.3   virginica
31            5.4          3.4           1.5          0.4      setosa
134           6.1          2.6           5.6          1.4   virginica
76            6.8          2.8           4.8          1.4  versicolor

In [10]:
#display test data
test.head()

     sepal_length  sepal_width  petal_length  petal_width    species
11            4.8          3.4           1.6          0.2     setosa
39            5.1          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
103           6.3          2.9           5.6          1.8  virginica

In [11]:
#check the size of our testing model
test.index.size

38

In [12]:
#selecting our inputs and outputs 
inputs, outputs = train[['sepal_length','sepal_width','petal_length','petal_width']], train['species']

## Decison Tree

https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html

https://scikit-learn.org/stable/modules/tree.html#tree

### Classification analysis and predictions on Iris Data set using Decision tree Algorithm

In [13]:
#import required library and classifier 
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier,plot_tree

In [14]:
#create new classifier as dtc
dtc = DecisionTreeClassifier (random_state=0)

In [15]:
#train classifer on my dataset
dtc.fit(inputs,outputs)

DecisionTreeClassifier(random_state=0)

In [16]:
#using new classifer decision tree algorithm classifty the test data
predictions = dtc.predict(test[['sepal_length','sepal_width','petal_length','petal_width']])
#display on screen
predictions

array(['setosa', 'setosa', 'setosa', 'setosa', 'virginica', 'versicolor',
       'versicolor', 'virginica', 'virginica', 'setosa', 'versicolor',
       'virginica', 'virginica', 'virginica', 'versicolor', 'versicolor',
       'virginica', 'versicolor', 'virginica', 'setosa', 'virginica',
       'setosa', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'versicolor', 'setosa', 'versicolor', 'setosa', 'virginica',
       'virginica', 'setosa', 'setosa', 'versicolor', 'setosa',
       'virginica', 'setosa'], dtype=object)

In [17]:
#check how many were right predictions and how many were wrong
(predictions == test['species']).value_counts()

True     36
False     2
Name: species, dtype: int64

In [18]:
#use .score to see how many of the predictions are correct
dtc.score(test[['sepal_length','sepal_width','petal_length','petal_width']],test['species'])

0.9473684210526315

In [19]:
### thanks to [] dont forget to add link here and the reference (NOTE TO SELF)
from sklearn.metrics import classification_report
print(classification_report(test['species'],predictions))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        14
  versicolor       0.91      0.91      0.91        11
   virginica       0.92      0.92      0.92        13

    accuracy                           0.95        38
   macro avg       0.94      0.94      0.94        38
weighted avg       0.95      0.95      0.95        38

?? accurate predictions!

In [20]:
## need to read up more on this section to understand 

#plot results https://scikit-learn.org/stable/auto_examples/tree/plot_iris_dtc.html

#plt.figure()
#plt.rcParams["figure.figsize"] = (100,30)
#plt.suptitle("Decision Tree")
#plt.legend(loc="lower right", borderpad=0, handletextpad=0)
#plt.axis("tight")

#plot_tree(dtc, filled=True)
#plt.show()

## Classifcation analysis and predictions on Iris Data set using Random Forest Algorithm

In [21]:
#import required libraries
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state = 0)

In [22]:
rfc.fit(inputs,outputs)
#Split our data in traing and testing models
train, test = mod.train_test_split(df)

In [23]:
predictions_rfc = rfc.predict(test[['sepal_length','sepal_width','petal_length','petal_width']])
predictions_rfc

array(['setosa', 'virginica', 'versicolor', 'versicolor', 'virginica',
       'setosa', 'versicolor', 'versicolor', 'setosa', 'setosa', 'setosa',
       'setosa', 'virginica', 'versicolor', 'versicolor', 'virginica',
       'versicolor', 'versicolor', 'virginica', 'versicolor',
       'versicolor', 'setosa', 'versicolor', 'virginica', 'versicolor',
       'setosa', 'virginica', 'setosa', 'setosa', 'setosa', 'virginica',
       'virginica', 'setosa', 'virginica', 'setosa', 'setosa',
       'virginica', 'versicolor'], dtype=object)

In [24]:
(predictions_rfc == test['species']).value_counts()

True    38
Name: species, dtype: int64

In [25]:
#use .score to see how many of the predictions are correct
rfc.score(test[['sepal_length','sepal_width','petal_length','petal_width']],test['species'])

1.0

In [26]:
### thanks to [] dont forget to add link here and the reference (NOTE TO SELF)
from sklearn.metrics import classification_report
print(classification_report(test['species'],predictions_rfc))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        14
  versicolor       1.00      1.00      1.00        13
   virginica       1.00      1.00      1.00        11

    accuracy                           1.00        38
   macro avg       1.00      1.00      1.00        38
weighted avg       1.00      1.00      1.00        38

## Gradient Boosting Classifier

In [27]:
#import from sklearn library 
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier(random_state = 0)
gbc.fit(inputs,outputs)

GradientBoostingClassifier(random_state=0)

In [28]:
predictions_gbc = gbc.predict(test[['sepal_length','sepal_width','petal_length','petal_width']])
predictions_gbc

array(['setosa', 'virginica', 'versicolor', 'versicolor', 'virginica',
       'setosa', 'versicolor', 'versicolor', 'setosa', 'setosa', 'setosa',
       'setosa', 'virginica', 'versicolor', 'versicolor', 'virginica',
       'versicolor', 'versicolor', 'virginica', 'versicolor',
       'versicolor', 'setosa', 'versicolor', 'virginica', 'versicolor',
       'setosa', 'virginica', 'setosa', 'setosa', 'setosa', 'virginica',
       'virginica', 'setosa', 'virginica', 'setosa', 'setosa',
       'virginica', 'versicolor'], dtype=object)

In [29]:
(predictions_gbc == test['species']).value_counts()
#use .score to see how many of the predictions are correct
gbc.score(test[['sepal_length','sepal_width','petal_length','petal_width']],test['species'])

1.0

Note to self - not sure if i should be getting 100 each time for the last two ?? furhter investigation needed!!

### Logistic Regression (if required tho was used in lectures already) is actually used for classification!

##### Type: Classification

##### About

Logistic regression, despite its name, is a linear model for classification rather than regression. Logistic regression is also known in the literature as logit regression, maximum-entropy classification (MaxEnt) or the log-linear classifier. In this model, the probabilities describing the possible outcomes of a single trial are modeled using a logistic function. [Reference from skitlearn online user guide]

Add more detail and research

___________________________________________

## Multiple Linear Regression using Iris Data Set

In [30]:
#import linear model from sklearn
import sklearn.linear_model as lm

In [31]:
#create linear regreession model
lrm = lm.LinearRegression()

In [32]:
#we want to use the folowing 3 varibales to predict speal length
x = df[['petal_length','petal_width','sepal_width']]

In [33]:
#sepal length - what we want to predict
y = df['sepal_length']

In [34]:
#use model to fit data
lrm.fit(x,y)

LinearRegression()

In [35]:
#find our intercept
lrm.intercept_

1.845060803216608

In [36]:
#find our coefcients 
lrm.coef_

array([ 0.71106291, -0.56256786,  0.65486424])

In [37]:
#testing our fit
lrm.score(x,y)

0.8592166649106592

### Training Our Model

In [38]:
#setup up our training and testing models
from sklearn.model_selection import train_test_split
#here i am going to specify the test size so the split will be 80/20
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=0)

In [39]:
#fit our training data only to model
lrm.fit(x_train, y_train)

LinearRegression()

In [40]:
#display the coefficients 
coeff_df = pd.DataFrame(lrm.coef_, x.columns, columns=['Coefficient'])
coeff_df

              Coefficient
petal_length     0.723974
petal_width     -0.582945
sepal_width      0.669463

### Making some predictions

In [54]:
y_pred = lrm.predict(x_test)
#how well did the model score
lrm.score(x_test,y_test)
#y_pred

0.7914533869230445

In [51]:
#display predictions on screen using a pandas dataframe
df = pd.DataFrame({'Actual Sepal Length': y_test, 'Predicted Sepal Length': y_pred.round(2)})
df

     Actual Sepal Length  Predicted Sepal Length
114                  5.8                    5.96
62                   6.0                    5.58
33                   5.5                    5.50
107                  7.3                    7.24
7                    5.0                    5.04
100                  6.3                    6.89
40                   5.0                    4.90
86                   6.7                    6.40
76                   6.8                    6.33
71                   6.1                    5.80
134                  6.1                    6.77
51                   6.4                    6.32
73                   6.1                    6.37
54                   6.5                    6.12
63                   6.1                    6.32
37                   4.9                    4.89
78                   6.0                    6.12
90                   5.5                    6.02
45                   4.8                    4.64
16                   5.4                    5.11
121                  5.6                    6.05
66                   5.6                    6.18
24                   4.8                    5.33
8                    4.4                    4.63
126                  6.2                    6.09
22                   4.6                    4.81
44                   5.1                    5.48
97                   6.2                    6.09
93                   5.0                    5.14
26                   5.0                    4.99

## Decision Tree Regression on Iris Data Set for comparison (may not use)

In [46]:
dtg = tree.DecisionTreeRegressor()

In [47]:
dtg.fit(x_train,y_train)

DecisionTreeRegressor()

In [48]:
#correct predictions?
dtg.score(x_test,y_test)

0.6061254806011883

In [49]:
dtg.predictions = dtg.predict(x_test)
dtg.predictions
df_dtg = pd.DataFrame({'Actual Sepal Length': y_test,'Predicted Sepal Length LRM':y_pred.round(2), 'Predicted Sepal Length DTG': dtg.predictions})
df_dtg

,Actual Sepal Length,Predicted Sepal Length LRM,Predicted Sepal Length DTG
114,5.8,5.96,5.8
62,6.0,5.58,5.5
33,5.5,5.50,5.8
107,7.3,7.24,7.4
7,5.0,5.04,5.1
100,6.3,6.89,6.8
40,5.0,4.90,5.5
86,6.7,6.40,6.9
76,6.8,6.33,6.1
71,6.1,5.80,5.8
134,6.1,6.77,7.2
51,6.4,6.32,6.7
73,6.1,6.37,6.6
54,6.5,6.12,6.3
63,6.1,6.32,6.1
37,4.9,4.89,4.9
78,6.0,6.12,5.4
90,5.5,6.02,6.3
45,4.8,4.64,4.9
16,5.4,5.11,5.4
121,5.6,6.05,5.7
66,5.6,6.18,5.4
24,4.8,5.33,5.4
8,4.4,4.63,4.9
126,6.2,6.09,6.3
22,4.6,4.81,5.5
44,5.1,5.48,5.7
97,6.2,6.09,6.4
93,5.0,5.14,4.9
26,5.0,4.99,4.8

## References and research etc

https://realpython.com/linear-regression-in-python/

https://scikit-learn.org/stable/user_guide.html


https://www.aboutdatablog.com/post/a-quick-overview-of-5-scikit-learn-classification-algorithms

https://www.tutorialspoint.com/scikit_learn/scikit_learn_quick_guide.htm

https://www.datacamp.com/community/tutorials/random-forests-classifier-python

## The End