## scipy-stats

## Overview of Scikit Learn



add logo "" STORE IN IMAGES FOLDER TO BE TIDY

### A clear and concise overview of SciPy and SciPy.stats

### Firstly what is Sci Py

SciPy is an open source scientific library for Python which gives us the ability to perform Mathematical, Scientific and Engineering Computations. (((((SciPy also provides algorithms for optimization, integration, interpolation, eigenvalue problems, algebraic equations, differential equations, statistics and many other classes of problems...)))

The SciPy library is built to work with NumPy arrays and provides use with many user-friendly and efficient numerical practices such as routines for numerical integration and optimization. NumPy and SciPy are easy to use, but powerful enough to be used by some of the world's leading scientists and engineers.!!! 

#### What is SciPy.stats ?

All of the statistics functions of the SciPy library are located in the sub-package named scipy.stats. used for statistical analysis

#### Uses of SciPy.stats

From my research I found out that the stats module scipy.stats is a very important feature of SciPy. 

It is useful for obtaining probabilistic distributions. SciPy Stats can generate discrete or continuous random numbers. It also consists of many other functions to generate descriptive statistical values. We can deal with random, continuous, and random variables. It also has functions for working with various types of distributions. It offers us the ability to perform a wide range of statistic analysis.

## Overview of ANOVA here .... might include description of T TESTS also ...WIP

## Demonstrations

## selected dataset for testing 

BR NOTE
My ideas is to see does the grade a student receives vary based opn their gender?
Also maybe look at the diet dataset as another example might be btter dataset?

## imports

In [3]:
# Numerical arrays.
import numpy as np
# Plotting.
import seaborn as sns
# Stats.
import scipy.stats as ss
#pandas 
import pandas as pd

### Exploring the dataset

In [4]:
#import dataset
df = pd.read_csv('datasets/grades/exam_grades.csv')
#display daframe
df

     Unnamed: 0    sex    exam1  exam2    exam3  course_grade
0             1    Man  84.5000   69.5  86.5000       76.2564
1             2    Man  80.0000   74.0  67.0000       75.3882
2             3    Man  56.0000   70.0  71.5000       67.0564
3             4    Man  64.0000   61.0  67.5000       63.4538
4             5    Man  90.5000   72.5  75.0000       72.3949
..          ...    ...      ...    ...      ...           ...
228         229    Man  98.2143   89.1  71.1111       85.5208
229         230  Woman  95.0000   86.0  78.3333       83.6959
230         231    Man  97.1429   53.5  67.2222       72.1189
231         232    Man  85.0000   63.0  75.0000       67.1996
232         233    Man  72.8571   48.5  90.5556       66.4035

[233 rows x 6 columns]

In [5]:
#display on screen first 5 rows
df.head()

   Unnamed: 0  sex  exam1  exam2  exam3  course_grade
0           1  Man   84.5   69.5   86.5       76.2564
1           2  Man   80.0   74.0   67.0       75.3882
2           3  Man   56.0   70.0   71.5       67.0564
3           4  Man   64.0   61.0   67.5       63.4538
4           5  Man   90.5   72.5   75.0       72.3949

In [6]:
#show a tabular discription of the dataset
df.describe()

       Unnamed: 0       exam1       exam2       exam3  course_grade
count  233.000000  232.000000  233.000000  233.000000    233.000000
mean   117.000000   80.766185   72.605579   75.479589     72.238831
std     67.405489   11.067860   13.777468   14.706791      9.807053
min      1.000000   46.500000   38.000000   28.000000     43.273300
25%     59.000000   73.500000   63.000000   67.000000     66.695800
50%    117.000000   82.000000   74.000000   78.000000     72.526700
75%    175.000000   89.625000   83.000000   86.000000     78.931000
max    233.000000   99.300000   99.500000   98.888900     97.566700

### Assumptions

Assumption 1: Dependent variable

Assumption 2: Independent variable

Assumption 4: Outliers

Assumption 5: Normality

Assumption 6: Homogeneity of Variances

### One-way ANOVA

### Post Hoct Tests

### Conclusion and Findings

### References and Research to go here - (BR note -  more research currently in the word document )

** BR NOTE - remember to link back to code and snippets above .

Offical SciPy website - https://scipy.org/

Tutroialspoint SciPy quick guide: https://www.tutorialspoint.com/scipy/scipy_quick_guide.htm

Offical SciPy stats refernce website: https://docs.scipy.org/doc/scipy/reference/stats.html


Four Ways to Conduct One-Way ANOVA with Python - Erik Marsja - [https://www.marsja.se/four-ways-to-conduct-one-way-anovas-using-python/]

Exploratory Data Analysis in Python - GeeksforGeeks - [https://www.geeksforgeeks.org/exploratory-data-analysis-in-python/]

https://www.analyticsvidhya.com/blog/2020/06/introduction-anova-statistics-data-science-covid-python/

ANOVA Test: Definition, Types, Examples, SPSS - Statistics How To [https://www.statisticshowto.com/probability-and-statistics/hypothesis-testing/anova/]

Pandas Group By: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

# END