In [74]:
#import libraries as required 
import numpy as np

#import skitlearn library for ML 
import sklearn as sk
import sklearn.model_selection as mod
from sklearn.model_selection import train_test_split #for comparison to model
from sklearn.linear_model import LogisticRegression as lre

#import pandas for data frames
import pandas as pd

#import matplotlib and seaborn for plotting 
import matplotlib.pyplot as plt
import seaborn as sns

In [54]:
# Import the iris.csv dataset and name as df
df = pd.read_csv("datasets/work/work_data2.csv") #using pandas read_csv function
#after research define species as type category thanks to https://github.com/simonava5/fishers-iris-data
df['Demographic_Category'] = df['Demographic_Category'].astype('category') #category to be used for summary file
df['Loan_Category'] = df['Loan_Category'].astype('category') #category to be used for summary file
#df[Loan_Amount_Issued'].to_numpy()

In [55]:
df.describe()
df.head()

  Demographic_Category Loan_Category  Loan_Amount_Issued
0                 TEEN      PERSONAL              8000.0
1                 TEEN      PERSONAL              8000.0
2                 TEEN      PERSONAL              8000.0
3                 TEEN      PERSONAL              8000.0
4                 TEEN      PERSONAL              8000.0

In [56]:
#Split our data in trainng and testing models
train, test = mod.train_test_split(df,test_size=.40,random_state=1)
#or
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.10,random_state=1)

In [60]:
x = df.groupby('Loan_Category')
x
x.mean()

                  Loan_Amount_Issued
Loan_Category
BUSINESS                 4045.454545
MORTGAGE/HOUSING         5000.000000
PERSONAL                 2280.607880

In [64]:
inputs, outputs = train[['Loan_Amount_Issued','Loan_Category']], train['Demographic_Category']

In [65]:
inputs.head()

      Loan_Amount_Issued Loan_Category
60                8000.0      PERSONAL
2552               250.0      PERSONAL
264               6000.0      PERSONAL
456               5000.0      PERSONAL
596               4000.0      PERSONAL

In [66]:
outputs.head()

60      OVER 50s
2552    OVER 50s
264     OVER 65s
456     OVER 50s
596     OVER 50s
Name: Demographic_Category, dtype: category
Categories (9, object): [ADULT SINGLE, OTHERS, OVER 50s, OVER 65s, ..., TEEN, YOUNG COUPLE, YOUNG FAMILY, YOUNG SINGLE]

In [80]:
#import required library and classifier 
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier,plot_tree
import sklearn.linear_model as lm

In [69]:
dtc = DecisionTreeClassifier (random_state=1)

In [72]:
#fit
#dtc.fit(inputs,outputs)

In [82]:
lre = lm.LogisticRegression(random_state=0)

In [84]:
#lre.fit(inputs,outputs)